
.container {
  margin: auto;
  width: 90%;

  /* text-align: center; */
  display: flex;
  /* space between */
  justify-content: space-evenly;
  /* align items */
  align-items: center;

}
.form-container{
  margin-top: 2.2rem;
}

.form-contol{
 margin: 1.5rem;
 padding: 2.5rem;

}
.data{
font-size: medium;
font-weight: 500;
}
.data-title{
  /* italize */
  font-style: italic;
}
.btn{
  margin: 1.5rem;
  padding: 1rem;
}
.remove-container{
  display: none;
}

@media screen and (max-width: 580px){
  .container{
    flex-direction: column;

  }
  
  
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
